# node_modules & build
node_modules/
dist/
build/
.angular/
*.tsbuildinfo
documentacion/

# environment files
.env
.env.*
!.env.example

# logs & coverage
*.log
coverage/

# IDE
.vscode/
.idea/
.DS_Store
